# Feature Scaling
## Standardization & Normalization

In [1]:
import pandas as pd 
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("mlin.csv")
#df = sns.load_dataset("titanic")
df.head()

   area  bed  age   price
0  2600  3.0   20  550000
1  3000  4.0   15  565000
2  3200  NaN   18  610000
3  3600  3.0   30  595000
4  4000  5.0    8  760000

In [3]:
df3 = df.fillna(df.median())
df3

   area  bed  age   price
0  2600  3.0   20  550000
1  3000  4.0   15  565000
2  3200  4.0   18  610000
3  3600  3.0   30  595000
4  4000  5.0    8  760000
5  4100  6.0    8  810000

In [4]:
X = df3.drop("price", axis = 1)
y = df3["price"]
print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (6, 3)
Shape of y =  (6,)

In [5]:
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2, random_state=51)
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (4, 3)
Shape of y_train =  (4,)
Shape of X_test =  (2, 3)
Shape of y_test =  (2,)

In [6]:
print( X_train)  # independet features
print( X_test)    # tstable independet features
print( y_train)  # depend  features 
print( y_test)   # teastable depend  features

   area  bed  age
3  3600  3.0   30
5  4100  6.0    8
0  2600  3.0   20
1  3000  4.0   15
   area  bed  age
2  3200  4.0   18
4  4000  5.0    8
3    595000
5    810000
0    550000
1    565000
Name: price, dtype: int64
2    610000
4    760000
Name: price, dtype: int64

In [7]:
sc = StandardScaler()
sc.fit(X_train )

StandardScaler()

In [9]:
print(X_train)

   area  bed  age
3  3600  3.0   30
5  4100  6.0    8
0  2600  3.0   20
1  3000  4.0   15

In [23]:
#mean value 
sc.mean_

array([3325.  ,    4.  ,   18.25])

In [9]:
#std value 
sc.scale_

array([ 0.84405789, 12.99162985,  0.79647463])

In [24]:
X_train.describe()

              area       bed        age
count     4.000000  4.000000   4.000000
mean   3325.000000  4.000000  18.250000
std     660.176744  1.414214   9.251126
min    2600.000000  3.000000   8.000000
25%    2900.000000  3.000000  13.250000
50%    3300.000000  3.500000  17.500000
75%    3725.000000  4.500000  22.500000
max    4100.000000  6.000000  30.000000

In [11]:
#Features scaling( Standardization) our independ variable 
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

In [12]:
X_train_sc

array([[ 0.48099642, -0.81649658,  1.46660323],
       [ 1.35553536,  1.63299316, -1.27937728],
       [-1.26808146, -0.81649658,  0.21843027],
       [-0.56845031,  0.        , -0.40565621]])

In [13]:
# above array convert into data frame 

X_train_sc =  pd.DataFrame(X_train_sc, columns = ["area",'bed','age'])
X_test_sc =  pd.DataFrame(X_test_sc, columns = ["area",'bed','age'])

In [15]:
print(X_train)
print(X_test)
print(X_train_sc)
print(X_test_sc)

   area  bed  age
3  3600  3.0   30
5  4100  6.0    8
0  2600  3.0   20
1  3000  4.0   15
   area  bed  age
2  3200  4.0   18
4  4000  5.0    8
       area       bed       age
0  0.480996 -0.816497  1.466603
1  1.355535  1.632993 -1.279377
2 -1.268081 -0.816497  0.218430
3 -0.568450  0.000000 -0.405656
       area       bed       age
0 -0.218635  0.000000 -0.031204
1  1.180628  0.816497 -1.279377

# Normalization

In [16]:
mmc = MinMaxScaler()
mmc.fit(X_train)

MinMaxScaler()

In [17]:
X_train_mmc = mmc.transform(X_train)
X_test_mmc = mmc.transform(X_test)

In [19]:
print(X_train_mmc)
print(X_train)

[[0.66666667 0.         1.        ]
 [1.         1.         0.        ]
 [0.         0.         0.54545455]
 [0.26666667 0.33333333 0.31818182]]
   area  bed  age
3  3600  3.0   30
5  4100  6.0    8
0  2600  3.0   20
1  3000  4.0   15

In [36]:
# above array convert into data frame 
X_train_mmc =  pd.DataFrame(X_train_mmc, columns = ["area",'bed','age'])
X_test_mmc =  pd.DataFrame(X_test_mmc, columns = ["area",'bed','age'])